@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    color:#3bd42a;
    width:50%;
}
html{
    background-color: black;
}
